@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
  --main-bg-color: #061224;
  --font-color: #ffffff;
  --primary-color: #64ffda;
  --secondary-color: #c132ff;
  --light-blue: #ccd6f5;
  --light-grey: #dcdcdcdc;
}

* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: Fira mono, monospace;
  font-weight: 400;
  background: var(--main-bg-color);
  color: var(--font-color);
  padding: 2rem;
}
