@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

:root {
  --main-bg-color: #061224;
  --font-color: #ffffff;
  --primary-color: #64ffda;
  --secondary-color: #9400d3;
  --light-blue: #ccd6f5;
  --light-grey: #dcdcdcdc;
}

html,
body {
  padding: 0px;
  margin: 0px;
}
body {
  background: var(--main-bg-color);
  color: var(--font-color);
}
