.home {
  display: flex;
  max-width: 1500px;
  margin: auto;
  justify-content: space-around;
  /* border: 1px solid red; */
  min-height: calc(100vh - 126px);
}

.left,
.right {
  margin-top: 15vh;
}

.left {
  padding: 0 3rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 40%;
}

.right {
  max-width: 50%;
}

h2 {
  font-size: 5rem;
}

.title {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--primary-color);
  padding: 0.5rem 0 2rem 0;
}

.right img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 900px) {
  .home {
    flex-direction: column-reverse;
    align-items: center;
  }
  .left,
  .right {
    min-width: 90%;
  }
  .right {
    margin-top: 7rem;
  }
  .left {
    margin-top: 4rem;
  }
  .right img {
    min-width: 100%;
  }
}
